@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Roboto',sans-serif;
    scrollbar-width: 12px;
    scrollbar-color: #141c3a white;
}

body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    background-color: rgba(20,28,58,0.08);
    width:50%;
    height:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
